@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=News+Cycle:wght@700&family=Permanent+Marker&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-image: linear-gradient(to right, rgb(39, 24, 24), rgb(192, 137, 76));
}

/* CABEÇALHO */
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20rem;
}

.logo-cabecalho{
    margin-right: 100px;
    cursor: pointer;
}

/* CABEÇALHO MENU */
.cabecalho-menu {
    display: flex;
    gap: 32px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'News Cycle', sans-serif;
    color: rgb(237, 221, 202);
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}

a:hover{
    color: rgb(69, 30, 7);
    transition: 0.4s all;
}

/* CONTEUDO */
.conteudo {
    margin-bottom: 40px;
    border-top: 0.4px solid rgb(237, 221, 202);
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.conteudo-principal-titulo {
    font-family: 'Bebas Neue', cursive;
    font-family: 'News Cycle', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-size: 64px;
    color: rgb(213, 129, 61);
    font-weight: 400;
}

.conteudo-principal-subtitulo {
    font-family: 'Bebas Neue', cursive;
    font-family: 'News Cycle', sans-serif;
    color: rgb(237, 221, 202);

}

.conteudo-principal-form{
    display: flex;
    flex-direction: column;
}

.conteudo-principal-input{
    color: black;
    background-color: rgb(237, 221, 202);
    padding: 20px;
    width: 70%;
    margin-top: 15px;
    border: none;
    border-radius: 20px;
}


.conteudo-principal-botao-adicione {
    color: antiquewhite;
    background-color: rgb(107, 94, 90);
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px black;
    border-radius: 20px;
    font-size: 24px;
    transition: 0.4s;
    cursor: pointer;
}
.conteudo-principal-botao-adicione:hover{
    background-color:antiquewhite;
    color: rgb(0, 0, 0);
    transition: 0.4s;
}


.conteudo-principal-imagem{
    height: 400px;
}

/* CONTEUDO SECUNDARIO */
.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid antiquewhite;
    padding-top: 48px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'News Cycle', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
    color: rgb(213, 129, 61);
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo{
    font-family: 'Bebas Neue', cursive;
    font-family: 'News Cycle', sans-serif;
    width: 300;
    color: rgb(237, 221, 202);
    font-size: 18px;
}

/* RODAPÉ */
.rodape{
    padding: 32px;
    border-top: 0.4px solid antiquewhite;
}

.rodape-imagem{
   display: block;
   margin: 0 auto;
}